{%extends 'blog/base.html'%} 
{% block content %}
<div class="container" style="color: white;">

  <div class="row">
    {% if articles%}
      <h4 style="color: white;">Found {{ articles|length }} of searched term {{message}}</h4>
    {% else %}
      <h4> Found 0 articles for the search term {{message}}</h4>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for article in articles %}
      <div class="col-sm-6 col-md-3">
          <h4>{{article.title}}</h4>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}